# Preparacion de los datos de Test Data

In [1]:
# importar librerias
import pandas as pd
import numpy as np

In [4]:
# cargar los datos
df = pd.read_csv('../Datos_Hackaton/train_data.csv', sep=';')
df.head()

,id_colaborador,id_ultimo_jefe,seniority,modalidad_trabajo,distancia_oficina,dias_baja_salud,genero,canal_reclutamiento,permanencia_promedio,fecha_nacimiento,salario,performance_score,psi_score,fecha_incorporacion,estado_civil,abandono_6meses
0,100247,102074.0,1,Híbrida,1.760,1,Mujer,Ferias & Networking,1,25/11/1999,140011,99.0,75,25/01/2018,Soltero,0
1,103355,102115.0,1,Híbrida,0.760,2,Hombre,Ferias & Networking,2,16/10/1996,182774,99.0,81,24/07/2021,Soltero,1
2,100669,102060.0,1,Híbrida,4.950,3,Mujer,Referidos,11,29/01/1971,682106,96.0,74,13/07/2016,Viudo,0
3,103760,102062.0,1,Híbrida,13.030,2,Hombre,Linkedin,2,28/04/1992,270232,96.0,82,21/07/2014,Soltero,1
4,100965,102062.0,1,Híbrida,13.045,2,Hombre,Linkedin,2,3/05/1992,266804,95.0,82,22/07/2014,Soltero,0

In [5]:
# Variables con valores faltantes
df.isnull().sum()

id_colaborador           0
id_ultimo_jefe          91
seniority                0
modalidad_trabajo        0
distancia_oficina        0
dias_baja_salud          0
genero                   0
canal_reclutamiento      0
permanencia_promedio     0
fecha_nacimiento         0
salario                  0
performance_score       68
psi_score                0
fecha_incorporacion      0
estado_civil             0
abandono_6meses          0
dtype: int64

In [6]:
# eliminar valores duplicados
df.dropna(inplace=True)

In [7]:
df.isnull().sum()

id_colaborador          0
id_ultimo_jefe          0
seniority               0
modalidad_trabajo       0
distancia_oficina       0
dias_baja_salud         0
genero                  0
canal_reclutamiento     0
permanencia_promedio    0
fecha_nacimiento        0
salario                 0
performance_score       0
psi_score               0
fecha_incorporacion     0
estado_civil            0
abandono_6meses         0
dtype: int64

In [9]:
df.shape

(1995, 16)

In [10]:
df

,id_colaborador,id_ultimo_jefe,seniority,modalidad_trabajo,distancia_oficina,dias_baja_salud,genero,canal_reclutamiento,permanencia_promedio,fecha_nacimiento,salario,performance_score,psi_score,fecha_incorporacion,estado_civil,abandono_6meses
0,100247,102074.0,1,Híbrida,1.760,1,Mujer,Ferias & Networking,1,25/11/1999,140011,99.0,75,25/01/2018,Soltero,0
1,103355,102115.0,1,Híbrida,0.760,2,Hombre,Ferias & Networking,2,16/10/1996,182774,99.0,81,24/07/2021,Soltero,1
2,100669,102060.0,1,Híbrida,4.950,3,Mujer,Referidos,11,29/01/1971,682106,96.0,74,13/07/2016,Viudo,0
3,103760,102062.0,1,Híbrida,13.030,2,Hombre,Linkedin,2,28/04/1992,270232,96.0,82,21/07/2014,Soltero,1
4,100965,102062.0,1,Híbrida,13.045,2,Hombre,Linkedin,2,3/05/1992,266804,95.0,82,22/07/2014,Soltero,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2095,100824,102147.0,1,Presencial,6.510,8,Mujer,Portal Web,15,2/02/1975,294641,12.0,79,16/03/2022,Soltero,1
2096,103863,102147.0,1,Presencial,6.520,8,Mujer,Portal Web,15,15/03/1975,301334,12.0,79,18/03/2022,Soltero,1
2097,102945,102154.0,1,Presencial,1.210,1,Hombre,Portal Web,6,3/07/1967,738060,12.0,77,2/05/2023,Divorciado,0
2098,103973,102157.0,1,Presencial,4.735,2,Mujer,Linkedin,12,22/09/1968,715749,11.0,81,23/06/2022,Soltero,1
2099,100595,102109.0,1,Presencial,2.470,1,Mujer,Portal Web,18,13/10/1968,721031,8.0,75,15/04/2021,Viudo,1

In [11]:
# exportar datos preparados
df.to_csv('test_data_preparado.csv', index=False)